@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: auto;
  max-width: 1470px;
  position: relative;
 
  
}
.main{
  background-image: url(./assets/mall1.jpg);
  opacity: .5;
}